/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    font-family: 'Helvetica Neue', sans-serif;
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

/*.a {
    display: block;
    margin: auto;
    padding: 1rem 1.25rem;
    font-family: sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    position: relative;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    z-index: 1;
}

    a:after {
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        bottom: 0;
        right: 1.25rem;
        left: 1.25rem;
        background-color: #ffffff;
        -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
        transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
        -webkit-transform-origin: bottom center;
        transform-origin: bottom center;
        z-index: -1;
    }

    a:hover {
        color: #2D2D2D;
    }

        a:hover:after {
            right: 0;
            left: 0;
            height: 100%;
        }*/
